    *{
    box-sizing: border-box;
}

body, html, main {
    height: 100%;   
}



#container {
    max-width: 1250px;
    height: 100%;
}

#header, flex-header {
    background: #5042f4;
}
/*#5042f4*/

#header {
    height: 10%;
    display: flex;
    align-items: center;
   
}

#main {
    height: 90%;
}
#flex-header {
    display: -webkit-flex;
    display: flex;    
    align-items: center;
    justify-content:flex-end;
     width: 100%;
}

.flex-item-header-left {
    margin-right: auto;
    margin-left: 5%;
}

.flex-item-icon {
    border-right: 1px solid black;
    padding-right: 10px;
}

.flex-item-header {
    margin-right: 3%;  
    color: white;
}

.flex-item-user {
    margin-right: 1.5%;
    padding-left: 10px;
}


#main{  
  display: -ms-flexbox;
  display: -webkit-box;
  display: -moz-box;
  display: -ms-box;
  display: box;  
  -ms-flex-direction: row;
  -webkit-box-orient: horizontal;
  -moz-box-orient: horizontal;
  -ms-box-orient: horizontal;
  box-orient: horizontal;
}

#main img {
    width: 20px;
    height: 20px;
}

#tabs {
background: #8A2BE2;
display: -webkit-flex;
display: flex;
flex-direction: column;
align-items: center;
justify-content: flex-start;
width: 10%;
}

.tab-icons {
    margin-top: 15px;
    margin-bottom: 15px;
}

#dashboard {
  background: aliceblue;
 -ms-flex: 1;
 -webkit-box-flex: 1;
 -moz-box-flex: 1;
 -ms-box-flex: 1;
 box-flex: 1;
 width: 90%;
}

#dashboard-tab{   
    display: flex;
/*    align-items: center;*/
}

 #tab-heading {
    padding: 10px;
     margin-right: auto;
     
    }

#search {
    background: lightgray;   
    border-left: 1px solid red;
    border-bottom: 1px solid red;    
    text-align: right; 
    padding: 10px;
    flex-grow: 2;
    
}

#search input {
    border-radius: 5px;    
    width: 50%;
    
}

/*Alert styles*/
#alert {
    display: flex;
    justify-content: space-around;
    margin: 10px;
}
/*Close button*/
.close-button {
    content: 'X';
    top: 5px;
    position: absolute;
    right: 5px;
    text-decoration: none;
    font-size: 1.2em;
    color: black;
}

#alert1, #alert2 {
    background: purple;
    position: relative;
    border: 1px solid pink;
    width: 100%;
    
    padding: 10px;
}

@media (min-width: 768px ){    

    #tabs {
        width: 7%;
    }
    .tab-icons {
    margin-top: 20px;
    margin-bottom: 20px;
}
    #main img {
    width: 30px;
    height: 30px;
}
    
    .flex-item-header-left {
    margin-left: 3%;
}
   
/*
   
     #dashboard-tab {
        height: 12%;
    }
*/
    
    
}