   *{
    box-sizing: border-box;
}

body, html, main {
    height: 100%;   
}


.clear-fix {
    clear: both;
}

/*
h2, p, span {
    font-family: 'verdana', sans-serif;
}
*/

#container {
    max-width: 1250px;
    height: 100%;
}

#header, flex-header {
    background: #5042f4;
}
/*#5042f4*/

#header {
    height: 10%;
    display: flex;
    align-items: center;
   
}

#flex-header, #tabs, #traffic, #social-stats, #social-stats > div, .members-list,
.activity-list{
    display: -webkit-flex;
    display: flex;
    align-items: center;
}

#flex-header {   
    justify-content:flex-end;
     width: 100%;
}

.flex-item-header-left {
    margin-right: auto;
    margin-left: 5%;
}

.flex-item-icon {
    border-right: 1px solid black;
    padding-right: 10px;
}

.flex-item-header {
    margin-right: 3%;  
    color: white;
}

.flex-item-user {
    margin-right: 1.5%;
    padding-left: 10px;
}


#main{  
  display: -ms-flexbox;
  display: -webkit-box;
  display: -moz-box;
  display: -ms-box;
  -ms-flex-direction: row;
  -webkit-box-orient: horizontal;
  -moz-box-orient: horizontal;
  -ms-box-orient: horizontal;
}

#main img {
    width: 20px;
    height: 20px;
}

#tabs {
background: #8A2BE2;
flex-direction: column;
justify-content: flex-start;
width: 10%;
}

.tab-icons {
    margin-top: 15px;
    margin-bottom: 15px;
}

#dashboard {
  background: aliceblue;
 -ms-flex: 1;
 -webkit-box-flex: 1;
 -moz-box-flex: 1;
 -ms-box-flex: 1;
 width: 90%;
}

#dashboard-tab{   
    display: flex;
/*    align-items: center;*/
}

 #tab-heading {
    padding: 10px;
     margin-right: auto;
     
    }

#search {
    background: lightgray;   
    border-left: 1px solid blueviolet;
    border-bottom: 1px solid blueviolet;    
    text-align: right; 
    padding: 10px;
    flex-grow: 2;
    
}

#search input {
    border-radius: 5px;    
    width: 50%;
    
}

/*Alert styles*/

#alert {
    display: flex;
    justify-content: space-around;
    margin: 10px;
}

.dropdown {
    position: relative;
    display: inline-block;
}

#myDropDown {
    flex: none;
    position: absolute;
    top: 20px;
    left: -7px;
    background-color: #f9f9f9;
    min-width: 160px;
    overflow: auto;
    box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.2);
    z-index: 1;
}

#alert-color {
    width: 6px;
    height: 6px;
    background: lightgreen;
    border-radius: 100%;
    position: absolute;
    bottom: 20px;
    left: 16px;
}
.hidden {display:none;}

/*Close button*/
.close-button {
    top: 5px;
    position: absolute;
    right: 5px;
    text-decoration: none;
    font-size: 1.2em;
    color: black;
}

#alert1, #alert2 {
    background: blueviolet;
    position: relative;
    border: 1px solid pink;
    width: 100%;
    padding: 10px;
}

/*Traffic Chart styles */

#traffic {  
    justify-content:space-around;
     width: 100%;
}

#traffic a {
    text-decoration: none;
}


.active-link {
/*    border: 2px solid green;*/
    background: green;
    color: white;
    border-radius: 10px;

}

#traffic-canvas{
/*    margin-bottom: 20px;*/
    padding: 10px;
    border-bottom: 1px solid black;

}

#daily-mobile-chart {
    display: -webkit-flex;
    display: flex;
    flex-wrap: wrap;
    border-bottom: 1px solid black;
}

#daily-mobile-chart > div {
    width: 100%;
    padding: 10px;
}
#mobile-canvas{
    display: -webkit-flex;
    display: flex;
    align-items: center;
}

#mobileChart{
    width: 75% !important;
    height: 75% !important;
}


 #mobile-legend li span{
    display: inline-block;
    width: 12px;
    height: 12px;
/*    margin-right: 5px;*/
}

/*Social Stats Styles*/

 #social-stats {
    flex-flow: row wrap;
    border-bottom: 1px solid black;
    padding-bottom: 20px;

}

 #social-stats-text {
    padding: 10px;
}

#social-stats > div{
    background: #eff0f2;
    border: 1px solid black;
    border-radius: 5px;
    margin: 10px;
    flex-grow: 1;
    flex-flow: row wrap;
    padding: 20px;
}

#social-stats > div > div {
    padding: 20px;
}

.social-svg-icons {
    border-radius: 50%;
    background: #3266ba; 
    text-align: center;
    padding: 10%;
    margin-right: 5%;    
}

#social-stats  img {
    margin: auto;
    display: block;
}

.stats-color {
 color: blueviolet;
}

.stats-font {
 font-size: 1.8em;
}

#members-activity{
    display: -webkit-flex;
    display: flex;
    flex-wrap: wrap;
    border-bottom: 1px solid black;
}

#new-members, #recent-activity {
 padding: 10px;
 flex-grow: 1;
}


.members-list, .activity-list {   
    padding: 10px 10px 10px 0;
    border-bottom: 1px solid black;
    flex-flow: column;
}

#recent-activity > div:last-child {
    padding-bottom: 0;
    border-bottom:none;
}

.members-list p:nth-child(2) {
    color: blue;
}

/*Form Settings Pane Styles*/
#form-settings-pane {
    display: -webkit-flex;
    display: flex;
    flex-wrap: wrap;
    border-bottom: 1px solid black;
}

#form, #settings {
  padding: 10px;
 flex-grow: 1;  
}

#form h2, #settings h2 {
    padding-bottom: 10px;
}

#form input, #form textarea {
    width: 100%;
    padding-bottom: 10px;
    margin-bottom: 10px;
    border-radius: 5px;
}

 #form button{
        width: 100%;
        height: 30px;
}
#form input, #form textarea {
    padding-left: 2px;
}

#form {
        border-bottom: 1px solid black;    
    }

.settings-notifications {
    display: -webkit-flex;
    display: flex;
    align-content: center;
    padding-bottom: 20px;
/*    width: 80%;*/
}

.settings-notifications > div {
    margin-left: auto;
}

#settings > select {
    padding: 5px;
    border-radius: 3px;
    width: 98% !important;
}

.settings-button {
    display: -webkit-flex;
    display: flex;
    align-content: center;
    justify-content: space-between;
    margin-top: 15px;
}

.settings-button > button {
    flex-grow: 1;
    height: 30px;
}

form button, #save {
    background: blueviolet;
}

#local-messages {
    margin: 10px auto;
    width: 80%;    
}

#local-messages > button {
    width: 100%;
    height: 30px;
}

#local-messages > p {
/*    text-align: center;*/
    font-family: 'Nunito', sans-serif;
    margin: 5px auto;
    color: blueviolet;
}

/*======================================
Table styles
=======================================*/
@media (min-width: 768px ){    
    #header {
    height: 6%;
    }
    #tabs {
        width: 7%;
    }
    .tab-icons {
    margin-top: 20px;
    margin-bottom: 20px;
}
    #main img {
    width: 30px;
    height: 30px;
}
    
    .flex-item-header-left {
    margin-left: 3%;
}
    #traffic-chart {
    font-size: 16px;
}
    #traffic {   
    justify-content:flex-end;
}
    
    .traffic-heading{
    margin-right: auto;
}
.traffic-heading, .traffic-chart {
    padding: 10px;
}
    
    
    #traffic a:not(.last-traffic-link) {
    padding-left: 30px;
    padding-right: 30px;
} 
    #traffic-canvas{
    padding-bottom:30px;  
}
    .daily-traffic{
         border-right: 1px solid black;
    }
    
    
  #daily-mobile-chart > div {
    width: 50%;
    padding: 10px;
}  
    #mobileChart{
    width: 80% !important;
    height: 80% !important;
}

#mobile-legend li {
    margin-bottom: 5px;
}
 #mobile-legend li span{
    display: inline-block;
    width: 12px;
    height: 12px;
/*    margin-right: 3px;*/
}



#members-activity{ 
    flex-flow: row wrap;    
}
    

#new-members, #recent-activity {
 padding: 20px;
 flex-basis: 0;
}
    
#new-members {
 border-right: 1px solid black;
 padding: 20px;
}


.members-list, .activity-list {
    flex-flow: row;
    padding: 20px 20px 20px 0;

}
    
.members-list p:nth-child(3), .activity-list p:nth-child(3){
    margin-left: auto;    
}

.activity-list p:nth-child(3){   
    font-size: 25px;
    color: darkblue;
}
    
.members-list > div, .activity-list > div{
    padding-left: 20px;
}

#new-members > div:last-child, #recent-activity > div:last-child {
    padding-bottom: 0;
    border-bottom:none;
}

   #form {
        border-right: 1px solid black;   
        border-bottom: none;
    }
    
    #form, #settings {
        flex-basis: 0;
        padding: 20px;
    }
    
    #form input, #form textarea {
    width: 100%;
    padding-bottom: 20px;
    margin-bottom: 20px;
}
    #form button{
        width: 100%;
        height: 40px;
    }
    #form input, #form textarea {
    padding-left: 4px;
}


    #settings > select {
         width: 100% !important;
    }
    
    .settings-button {
        margin-top: 25px;
    }
    
    .settings-button > button {
    height: 40px;
}
   
    #local-messages {
    margin: 20px auto;
}
    
     #local-messages > button {
          height: 40px;
    }
    
    #local-messages > p {
        margin: 10px auto;
    }
/*
    select option:disabled {
	color: #808080;
}
*/

}

@media (min-width: 980px ){    

/*
    #social-stats > div{
       flex-basis: 0;
    }
*/
    form textarea {
        height: 56px;
    }
.activity-list {   
    padding: 20px 20px 20px 0;
    }
    
    .settings-notifications {
        width: 60%;
    }
    
    .settings-button {
        margin-top: 28px;
    }
}